@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prime: #ff4500;
  --secondary: #0866ff;
  --body: #f9f9f9;
  --background: #252326;
  --text-color: #000000;
  --text-color-secondary: #545454;

  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;

  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.563rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--body);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
