@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prime: #ff4500;
  --secondary: #0866ff;
  --body: #ffffff;
  --background: #252326;
  --text-color: #000000;
  --text-color-secondary: #545454;
  --navbar: #f8f9fa;
  --footer: #1a1a1a;


  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
  

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;

  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.563rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
}

body {
  font-family: var(--font-inter);
  background-color: var(--body);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

/*navbar*/
.menu-link a{
  font-family: var(--font-montserrat);
  font-weight: 500;
}

/*hero*/
.hero{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}



h1{
  font-size: var(--biggest-font-size);
  font-weight: 600;
  font-family: var(--font-montserrat);
}

h2{
  font-size: var(--h1-font-size);
  font-weight: 600;
  font-family: var(--font-montserrat);
}

h3{
  font-size: var(--small-font-size);
  font-family: var(--font-montserrat);
}